@font-face {
	font-display: swap;
	font-family: "bootstrap-icons";
	src:
		url("../fonts/bootstrap-icons.woff2") format("woff2"),
		url("../fonts/bootstrap-icons.woff") format("woff");
}

/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
/* ----------- TODO: light theme -----------
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;
	--color-offgray-50: #f1f2f4;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--syntax-tab-size: 2;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #dad8d8;

	--text-color: var(--color-gray-90);
	/* --text-color-link: #1493fb; */
	--text-color-link: #fff;
	/* --text-color-link-active: #6969f7; */
	--text-color-link-active: #a3f769;
	/* --text-color-link-visited: #a6a6f8; */
	--text-color-link-visited: #fff;

	/* --background-color: #fff; */
	/* --background-color: #283849; */
	/* --background-color: #095684; */
	/* --background-color: #35395F; */
	/* --background-color: #F5F5DC; */ /* Beige */
	/* --background-color: #1c7ed6; */
	/* --background-color: #121417; */
	--background-color: #f6f6f8;

	background-color: #082840;
	background-image: linear-gradient(to right, #2b7fff1a 2px, transparent 1px),
		linear-gradient(to bottom, #2b7fff1a 2px, transparent 1px);
	background-size: 20px 20px;
}
/* } */

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	padding-bottom: 1em;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);

	/* background-color: var(--background-color);
	background-image: radial-gradient(#e7d0d3 1px, transparent 0);
	background-size: 40px 40px;
	background-position: -15px -15px; */

	/* background:
    radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    radial-gradient(circle at 20% 30%, #4a007e, transparent 60%),
    radial-gradient(circle at 80% 70%, #000080, transparent 50%),
    radial-gradient(circle at 50% 50%, #8b008b, transparent 70%),
    linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 50%, transparent 70%);
  background-size: 3px 3px, 2px 2px, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
  background-color: #000010; // Deep space black
  background-blend-mode: screen, screen, overlay, normal, normal, lighten;
  overflow: hidden; */

	/* background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
	radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
	radial-gradient(circle at 20% 30%, #4a007e, transparent 60%),
	radial-gradient(circle at 80% 70%, #000080, transparent 50%),
	radial-gradient(circle at 50% 50%, #8b008b, transparent 70%);
	background-size: 3px 3px, 2px 2px, 100% 100%, 100% 100%, 100% 100%;
	background-color: #000010;
	background-blend-mode: screen, screen, overlay, normal, normal;
	overflow: hidden; */
}
html {
	overflow-y: scroll;
}
body {
	max-width: 80em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
footer {
	border: 3px solid #2f2f2f;
	background-color: #18181b;
	box-shadow: -7px 7px black;
	margin-top: 1em;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

.avatar-img {
	border-radius: 50%;
	border: 3px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0;
}

.projects li {
	font-size: 1rem;
	margin: 0 1.5em 1.5em 0;
	width: 150px;
}

main {
	border: 3px solid #2f2f2f;
	background-color: #18181b;
	box-shadow: -7px 7px black;
	margin-top: 1em;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	border: 3px solid #2f2f2f;
	background-color: #18181b;
	margin-top: 1em;
	box-shadow: -7px 7px black;
}
.home-link {
	font-size: 2em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Portfolio */
.project-img {
	border-radius: 1em;
	transition: transform 0.3s ease; /* Smooth animation */
	border: 3px solid #2f2f2f;
}

.project-img:hover {
	transform: scale(1.1); /* Slightly enlarge the image */
}

.project-img-asset {
	border-radius: 1em;
	height: 60%;
	width: 60%;
	border: 3px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caution {
	background-color: #ea9d34;
	color: black;
	padding: 10px;
	border: 3px solid black;
	margin: 15px 0;
	box-shadow: -7px 7px #2f2f2f;
}

#dadman-icon {
	background-color: black;
}

/* Social */
i.bi {
	font-size: 36px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0.25em 0;
}

.social li {
	margin: 0 1.5em 0 0;
}

/* github-like diff changes */
.diff-wrapper {
	display: flex;
	gap: 15px; /* Space between diff containers */
	justify-content: center;
	align-items: center;
}

.diff-container {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-family: Arial, sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.added {
	color: #28a745;
	font-weight: bold;
	margin-right: 5px;
}

.deleted {
	color: #d73a49;
	font-weight: bold;
	margin-right: 5px;
}

.diff-boxes {
	display: flex;
	gap: 2px;
}

.box {
	width: 12px;
	height: 12px;
	background-color: #d73a49;
	border-radius: 2px;
}

.box.empty {
	background-color: #e1e4e8;
}

/* screenshots showcase */
.image-container {
	display: flex;
	gap: 10px; /* Space between images */
	margin-top: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 10px;
	border: 3px solid black;
	box-shadow: -7px 7px #2f2f2f;
}

.image-box {
}

.image-box img {
	width: 300px; /* Adjust size as needed */
	height: auto;
	border-radius: 5px;
}

.banner-text {
	background-color: #092119;
	padding: 10px;
	border-radius: 5px;
	border: 3px solid black;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
