@font-face {
	font-display: swap;
	font-family: "bootstrap-icons";
	src:
		url("../fonts/bootstrap-icons.woff2") format("woff2"),
		url("../fonts/bootstrap-icons.woff") format("woff");
}

/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

	--base-color-neutral-0: #ffffff;
	--base-color-neutral-1: #f6f8fa;
	--base-color-neutral-2: #eff2f5;
	--base-color-neutral-3: #e6eaef;
	--base-color-neutral-4: #e0e6eb;
	--base-color-neutral-5: #dae0e7;
	--base-color-neutral-6: #d1d9e0;
	--base-color-neutral-7: #c8d1da;
	--base-color-neutral-8: #818b98;
	--base-color-neutral-9: #59636e;
	--base-color-neutral-10: #454c54;
	--base-color-neutral-11: #393f46;
	--base-color-neutral-12: #25292e;
	--base-color-neutral-13: #1f2328;

	--base-color-blue-0: #ddf4ff;
	--base-color-blue-1: #b6e3ff;
	--base-color-blue-2: #80ccff;
	--base-color-blue-3: #54aeff;
	--base-color-blue-4: #218bff;
	--base-color-blue-5: #0969da;
	--base-color-blue-6: #0550ae;
	--base-color-blue-7: #033d8b;
	--base-color-blue-8: #0a3069;
	--base-color-blue-9: #002155;

	--box-shadow-length: -7px 7px;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;
	--color-offgray-50: #f1f2f4;

	--text-color: var(--base-color-neutral-13);
	--text-color-link: #1e66f5;
	--text-color-link-active: #04a5e5;
	--text-color-link-visited: #1e66f5;

	--background-color-hmf: var(--base-color-neutral-4);
	--bg-color-header: var(--background-color-hmf);
	--bg-color-main: var(--background-color-hmf);
	--bg-color-footer: var(--background-color-hmf);

	--border-color-hmf: var(--base-color-blue-6);
	--bc-header: var(--border-color-hmf);
	--bc-main: var(--border-color-hmf);
	--bc-footer: var(--border-color-hmf);
	--banner-border-color: #626880;

	--avatar-border-color: var(--border-color-hmf);

	--box-shadow-color: #cdd6f4;
	--pj-img-border-color: var(--base-color-neutral-7);
	--pj-img-bc-hover: var(--base-color-neutral-8);
	--pj-img-shadow-color: var(--base-color-neutral-8);

	--background-color: #f7f7f2;
	--lg-color: #dcebfa;
	background-color: var(--background-color);
	background-image: linear-gradient(to right, var(--lg-color) 2px, transparent 1px),
		linear-gradient(to bottom, var(--lg-color) 2px, transparent 1px);
	background-size: 20px 20px;

	--mark-bg-img-lg-start: #ff79c6;
	--mark-bg-img-lg-end: #bd93f9;
	--caution-bg-color: #ea9d34;
	--oticon-banner-bg-color: #ca9ee6;
	--yousee-banner-bg-color: #a6d189;
	--img-banner-text-bg-color: #a6d189;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;
		--color-gray-90-alpha: #4b515ee6;

		--text-color: var(--base-color-neutral-1);
		--text-color-link: #fff;
		--text-color-link-active: #a3f769;
		--text-color-link-visited: #fff;

		--background-color-hmf: #18181b;
		--bg-color-header: var(--background-color-hmf);
		--bg-color-main: var(--background-color-hmf);
		--bg-color-footer: var(--background-color-hmf);

		--border-color-hmf: var(--base-color-neutral-10);
		--bc-header: var(--border-color-hmf);
		--bc-main: var(--border-color-hmf);
		--bc-footer: var(--border-color-hmf);
		--banner-border-color: var(--border-color-hmf);

		--avatar-border-color: var(--base-color-neutral-10);

		--box-shadow-color: #11111b;
		--pj-img-border-color: var(--base-color-neutral-8);
		--pj-img-bc-hover: var(--base-color-neutral-9);
		--pj-img-shadow-color: var(--base-color-neutral-9);

		--background-color: #04314f;
		--lg-color: #63a1ff1a;
		background-color: var(--background-color);
		background-image: linear-gradient(to right, var(--lg-color) 2px, transparent 1px),
			linear-gradient(to bottom, var(--lg-color) 2px, transparent 1px);
		background-size: 20px 20px;

		--mark-bg-img-lg-start: #ff79c6;
		--mark-bg-img-lg-end: #bd93f9;
		--caution-bg-color: #ea9d34;
		--oticon-banner-bg-color: #b62d8a;
		--yousee-banner-bg-color: #092119;
		--img-banner-text-bg-color: #092119;

		--syntax-tab-size: 2;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	padding-bottom: 1em;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
}
html {
	overflow-y: scroll;
}
body {
}

/* Styles for desktop */
@media (min-width: 1024px) {
	body {
		max-width: 80em;
	}
}

/* Styles for mobile */
@media (max-width: 1023px) {
	body {
		max-width: 22em;
	}
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
footer {
	border: 3px solid var(--bc-footer);
	background-color: var(--bg-color-footer);
	box-shadow: var(--box-shadow-length) var(--box-shadow-color);
	border-radius: 1em;
	margin-top: 1em;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	display: table;
	clear: both;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

.avatar-img {
	border-radius: 1em;
	border: 3px solid var(--avatar-border-color);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0;
}

.projects li {
	font-size: 1rem;
	margin: 0 1.5em 1.5em 0;
	width: 150px;
}

main {
	border: 3px solid var(--bc-main);
	background-color: var(--bg-color-main);
	box-shadow: var(--box-shadow-length) var(--box-shadow-color);
	border-radius: 1em;
	margin-top: 1em;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 1em;
	border: 3px solid var(--bc-header);
	background-color: var(--bg-color-header);
	margin-top: 1em;
	box-shadow: var(--box-shadow-length) var(--box-shadow-color);
	border-radius: 1em;
}
.home-link {
	font-size: 2em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--text-color);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Home - index */
.short-intro {
	padding: 1rem;
	border: 3px solid var(--bc-footer);
	background-color: var(--bg-color-footer);
	box-shadow: var(--box-shadow-length) var(--box-shadow-color);
	border-radius: 1em;
	margin-top: 1em;
}

/* Portfolio */
.project-img {
	border-radius: 1em;
	border: 2px solid var(--pj-img-border-color);
	box-shadow: -3px 3px var(--pj-img-shadow-color);
	height: auto;
	width: auto;
}

.project-img:hover {
	border-color: var(--pj-img-bc-hover);
	box-shadow: none;
}

/* Images */
.project-img-asset {
	border-radius: 1em;
	border: 1px solid var(--border-color-hmf);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dadman-icon {
	background-color: var(--background-color-hmf);
}

/* Social */
i.bi {
	font-size: 36px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0.25em 0;
}

.social li {
	margin: 0 1.5em 0 0;
}

/* highlight content */
mark {
	background-image: linear-gradient(
		to left,
		var(--mark-bg-img-lg-start),
		var(--mark-bg-img-lg-end)
	);
	color: black;
	padding: 0.11em;
	border-radius: 4px;
}

.caution {
	background-color: var(--caution-bg-color);
	color: black;
	padding: 10px;
	border: 3px solid var(--banner-border-color);
	margin: 15px 0;
	border-radius: 1em;
}

.yousee-banner {
	background-color: var(--yousee-banner-bg-color);
	padding: 10px;
	border: 2px solid var(--banner-border-color);
	margin: 15px 0;
	border-radius: 1em;
}

.oticon-banner {
	color: black;
	background-color: var(--oticon-banner-bg-color);
	padding: 10px;
	border: 3px solid var(--banner-border-color);
	margin: 15px 0;
	border-radius: 1em;
}

/* github-like diff changes */
.diff-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px; /* Space between diff containers */
	justify-content: center;
	align-items: center;
}

.diff-container {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-family: Arial, sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.added {
	color: #28a745;
	font-weight: bold;
	margin-right: 5px;
}

.deleted {
	color: #d73a49;
	font-weight: bold;
	margin-right: 5px;
}

.diff-boxes {
	display: flex;
	gap: 2px;
}

.box {
	width: 12px;
	height: 12px;
	background-color: #d73a49;
	border-radius: 2px;
}

.box.empty {
	background-color: #e1e4e8;
}

/* screenshots showcase */
.image-container {
	display: flex;
	gap: 10px; /* Space between images */
	margin-top: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 10px;
	border-radius: 1em;
}

.image-box img {
	width: 300px; /* Adjust size as needed */
	height: auto;
	border-radius: 5px;
}

.img-banner-text {
	background-color: var(--img-banner-text-bg-color);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--border-color-hmf);
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

#scroll-container-oticon {
	border-radius: 1em;
}
