---js
const eleventyNavigation = {
	key: "./portfolio",
	order: 4
};
---

<h1>Portfolio</h1>
<p>Here you'll find projects, applications and things that I've worked on, built and deployed.</p>

<h2>Currently working on:</h2>

<ul class="projects">
    <li>
        <a href="/portfolio/dadman.md">
            <img class="project-img" src="../public/img/ntp/dadman-icon.png" alt="DADman" title="DADman" id="dadman-icon"/>
        </a>
    </li>
    <li>
        <a href="/portfolio/website.md">
            <img class="project-img" src="../public/img/website/android-chrome-512x512.png" alt="" title="" id=""/>
        </a>
    </li>
</ul>


<h2>Projects and applications that I have worked on in the past:</h2>

<ul class="projects">
    <li>
        <a href="/portfolio/youseeplay.md">
            <img class="project-img" src="../public/img/yousee/yousee-app-icon.png" alt="YouSee Play" title="YouSee Play"/>
        </a>
    </li>
    <li>
        <a href="/portfolio/oticonon.md">
            <img class="project-img" src="../public/img/oticon/oticon-on-app-icon.png" alt="Oticon ON" title="Oticon ON"/>
        </a>
    </li>
</ul>

<h2>A list of projects that I have done while I was a student:</h2>

<ul class="projects">
    <li>
        <a href="/portfolio/spaace.md">
            <img class="project-img" src="../public/img/spaace/spaace_thumbnail.jpg" alt="spAAce" title="spAAce"/>
        </a>
    </li>
</ul>
