<footer>
	<ul class="social">
		<li class="list-inline-social-icon">
			<a
				href="https://hachyderm.io/@mattgirardi"
				class="social_icon icon-mastodon"
				title="Matteo Girardi's on Mastodon"
			>
				<i class="bi bi-mastodon" role="img"></i>
			</a>
		</li>

		<li class="list-inline-social-icon">
			<a
				href="https://github.com/matteo-girardi"
				class="social_icon icon-github"
				title="Matteo Girardi's on GitHub"
			>
				<i class="bi bi-github" role="img"></i>
			</a>
		</li>

		<li class="list-inline-social-icon">
			<a
				href="/feed/feed.xml"
				class="social_icon"
				title="Matteo Girardi’s RSS Feed"
			>
				<i class="bi bi-rss" role="img"></i>
			</a>
		</li>
	</ul>
</footer>
