---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0;
}

.projects li {
  font-size: 1rem;
  margin: 0 1.5em 1.5em 0;
  width: 150px;
}

.project-img {
  border-radius: 1em;
  transition: transform 0.3s ease; /* Smooth animation */
}

.project-img:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
}